
.slider-container {
  padding: 40px 0;
  position: relative;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  
  }
    .banner-img {
      position: relative;
      width: 200px;
      z-index: 9;
      margin-bottom: 20px;
      }
